<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
         http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<context:property-placeholder location="classpath:jdbc.properties" />
	<context:component-scan base-package="com.example.ticketmonster" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="database" value="${hibernate.database}" />
		<property name="showSql" value="true" />
		<property name="generateDdl" value="true" />
		<property name="databasePlatform" value="${hibernate.databasePlatform}" />
	</bean>

	<bean id="emf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.example.ticketmonster.model" />
		<property name="persistenceUnitName" value="ticketmonster" />
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">create-drop</prop>
				<prop key="hibernate.hbm2ddl.import_files">import.sql</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emf" />
	</bean>

	<tx:annotation-driven />
<!-- 	<context:annotation-config /> -->

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="bookingService" class="com.example.ticketmonster.rest.BookingService" />
	<bean id="bookingEndpoint" class="com.example.ticketmonster.rest.BookingService" />
	<bean id="botStatusService" class="com.example.ticketmonster.rest.BotStatusService" />
	<bean id="eventCategoryEndpoint" class="com.example.ticketmonster.rest.EventCategoryEndpoint" />
	<bean id="eventEndpoint" class="com.example.ticketmonster.rest.EventEndpoint" />
	<bean id="eventService" class="com.example.ticketmonster.rest.EventService" />
	<bean id="mediaItemEndpoint" class="com.example.ticketmonster.rest.MediaItemEndpoint" />
	<bean id="mediaService" class="com.example.ticketmonster.rest.MediaService" />
	<bean id="metricsService" class="com.example.ticketmonster.rest.MetricsService" />
	<bean id="performanceEndpoint" class="com.example.ticketmonster.rest.PerformanceEndpoint" />
	<bean id="sectionAllocationEndpoint"
		class="com.example.ticketmonster.rest.SectionAllocationEndpoint" />
	<bean id="sectionEndpoint" class="com.example.ticketmonster.rest.SectionEndpoint" />
	<bean id="showEndpoint" class="com.example.ticketmonster.rest.ShowEndpoint" />
	<bean id="showService" class="com.example.ticketmonster.rest.ShowService" />
	<bean id="ticketCategoryEndpoint" class="com.example.ticketmonster.rest.TicketCategoryEndpoint" />
	<bean id="ticketEndpoint" class="com.example.ticketmonster.rest.TicketEndpoint" />
	<bean id="ticketPriceEndpoint" class="com.example.ticketmonster.rest.TicketPriceEndpoint" />
	<bean id="venueEndpoint" class="com.example.ticketmonster.rest.VenueEndpoint" />
	<bean id="venueService" class="com.example.ticketmonster.rest.VenueService" />

	<jaxrs:server id="rest" address="/*">
		<jaxrs:serviceBeans>
			<ref bean="metricsService" />
			<ref bean="bookingService" />
			<ref bean="bookingEndpoint" />
			<ref bean="botStatusService" />
			<ref bean="eventCategoryEndpoint" />
			<ref bean="eventEndpoint" />
			<ref bean="eventService" />
			<ref bean="mediaItemEndpoint" />
			<ref bean="mediaService" />
			<ref bean="metricsService" />
			<ref bean="performanceEndpoint" />
			<ref bean="sectionEndpoint" />
			<ref bean="showEndpoint" />
			<ref bean="showService" />
			<ref bean="ticketCategoryEndpoint" />
			<ref bean="ticketEndpoint" />
			<ref bean="ticketPriceEndpoint" />
			<ref bean="venueEndpoint" />
			<ref bean="venueService" />
		</jaxrs:serviceBeans>
	</jaxrs:server>
</beans>